<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Shooppy</string>
	<key>CFBundleIdentifier</key>
	<string>com.AshokInfotech.Shoppite</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>ar</string>
	</array>
	<key>CFBundleName</key>
	<string>Shooppy</string>
	<key>CFBundleVersion</key>
	<string>0.1.7</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>MinimumOSVersion</key>
	<string>11.0</string>
	<key>NSCameraUsageDescription</key>
	<string>We will use your camera to scan the credit card</string>
	<key>UIAppFonts</key>
	<array>
		<string>icofont.ttf</string>
		<string>VerdanaProBold.ttf</string>
		<string>VerdanaProCondLight.ttf</string>
		<string>VerdanaProLight.ttf</string>
		<string>VerdanaProRegular.ttf</string>
		<string>VerdanaProSemiBold.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen.storyboard</string>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string></string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1484605305699645</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>1484605305699645</string>
	<key>FacebookClientToken</key>
	<string>280e2665d1b83e11fa9943d3db126e0c</string>
	<key>FacebookDisplayName</key>
	<string>Shooppy</string>
</dict>
</plist>
